<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jinze</title>
<link rel="stylesheet" type="text/css" href="css/all.css" />
<link rel="shortcut icon" href="favicon.ico" />
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/plugin.js" type="text/javascript"></script>
<script src="js/all.js" type="text/javascript"></script>
</head>
<body>
<div id="wrap">
	<div id="header">
		<div class="layout header_inner"> 
			<div class="header_top clearfix">
				<div class="unit"><a href="#" title="" class="red">网站首页</a>|<a href="#" title="">网站地图</a>|<a href="#" title="">English</a></div>
				<div class="top_nav"><a href="#" title="">液压机</a>|<a href="#" title="" class="red">卷板机</a>|<a href="#" title="">剪板机</a>|<a href="#" title="">折弯机</a></div>
			</div>
			
			<!--logo-->
			<h1 id="logo"><a href="" title=""><img src="images/logo.png" alt="" /></a></h1>
	
			<!--nav-->
			<ul id="nav">
				<li class="item"><a href="" title="" class="itemLink">网站首页</a></li>
				<li class="item"><a href="" title="" class="itemLink">关于金泽</a></li>
				<li class="item"><a href="" title="" class="itemLink">产品展示</a></li>
				<li class="item"><a href="" title="" class="itemLink">生产设备</a></li>
				<li class="item current"><a href="" title="" class="itemLink">新闻资讯</a></li>
				<li class="item"><a href="" title="" class="itemLink">服务中心</a></li>
				<li class="item"><a href="" title="" class="itemLink">联系我们</a></li>
			</ul>
		</div>
	</div>
	
	<!--inner_content_wrap-->
	<div id="content" class="inner_content_box">
		<div class="inner_content_wrap">
			<div class="layout inner_content">
				<div class="inner_layout clearfix">
				
					<div class="aside">
					<div class="mod indexCategory">
						<div class="hd">
							<h2 class="title">产品分类</h2>
							<span>product categories</span>
						</div>
						<div class="bd">
							<div class="info">
								<ul>
									<li><a href="" title="">剪板机</a></li>
									<li><a href="" title="">折弯机</a></li>
									<li><a href="" title="">卷板机</a></li>
									<li><a href="" title="">液压机</a></li>
									<li><a href="" title="">校平机</a></li>
									<li><a href="" title="">开卷校平剪切生产线</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="aside_contact">
						<div class="pic"><img alt="" title="" src="images/img_asie_contact.jpg" /></div>	
						<div class="info">
							<h3>江苏金泽重型机械有限公司</h3>
							<ul class="contact_list">
								<li><span class="dt">联系人：</span><span class="dd">储先生</span></li>
								<li><span class="dt">手机：</span><span class="dd">13901477088<br />13506276898</span></li>
								<li><span class="dt">电话：</span><span class="dd">0513－886611999</span></li>
								<li><span class="dt">传真：</span><span class="dd">0513－886611999</span></li>
								<li><span class="dt">地址：</span><span class="dd">海安开发区立发大道8号</span></li>
								<li><span class="dt">邮箱：</span><span class="dd"><a href="#" title="">info@jsjzzj.com</a></span></li>
							</ul>
						</div>
					</div>
					
				</div>
				
					<!--main-->
					<div class="main">
						<div class="clearfix">
							<div class="contact_phone">服务热线<em>13901477088</em><span>有任何问题欢迎拨打服务热线，联系人：储经理</span></div>
						
							<div class="search_wrap">
								<!--search-->
								<div class="search">
									<form action="" method="post">
										<input type="text" class="input_text act_clear" value="如：剪板机" onFocus="if (this.value == '如：剪板机') this.value = '';" onBlur="if (this.value == '') this.value = '如：剪板机';"  />
										<button type="submit" class="btn">search</button>
									</form>
								</div>
							</div>
				
						</div>
					
						<!--headline-->
						<div class="headline clearfix">
							<div class="hd">
								<h3 class="title">服务中心</h3>
								<span>service center</span>
							</div>
							<div class="crumb"><span>您的位置：</span><a href="#" title="">首页</a>|<em>产品展示</em></div>
						</div>
						
						<!--service_center-->
						<div class="service_center">
							<p>营销网络在企业发展中起到至关重要的作用，企业的所有产品都是由营销网络流向消费者，对于一个卓越的企业来说，营销网络比品牌比品牌更重要，光有品牌没有营销网络的产品，是无法流到消费者手中品牌可谓是一文不值，但有营销网络，无品牌的企业，世界上比比皆是。所谓营销网络的组建对企业来说可谓至关重要。</p>
							<p class="img"><img alt="" title="" src="images/img_map.jpg" /></p>
						</div>					
				
				</div>
				</div>
			</div>		
		</div>
	</div>
	
	<!--footer-->
	<div id="footer">
		<div class="layout footer_inner">
			<p><span class="copyright">Copyright &copy; 2012 版权所有：江苏金泽重型机械有限公司  沪ICP备11023xx1号 </span><span><em>厂址：</em>江苏南通海安开发区立发大道8号</span>
				<span><em>网址：</em>www.jinzezj.com</span>
				<span><em>手机：</em>13901477088 / 13506276898</span>
				<span><em>电话：</em>0513-88661199</span>
				<span><em>传真：</em>0513-88661199</span>
				<span><em>邮箱：</em><a href="#" title="">info@jsjzzj.com</a></span>
			</p>
			<p>友情链接：<a href="#" title="">剪板机</a>、<a href="#" title="">折弯机</a>、<a href="#" title="">卷板机</a>、<a href="#" title="">液压机</a>、<a href="#" title="">开卷校平线</a>、<a href="#" title="">型材弯曲机</a>、<a href="#" title="">钢坯剪断机</a></p>
			
		</div>
	</div>
</div>
</body>
</html>
